/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .nav-block__menu {
        margin-left: 45px;
    }
    .menu-list__item {
        margin-right: 20px;
    }
    .menu-list__link {
        padding: 10px 15px;
    }
    .about-center-row{
        flex-direction: column-reverse;
    }
    .about-section__image-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-section__section-container {
        text-align: center;
        margin-bottom: 50px;
    }
    .about-section__section-container .project-button {
        margin: 0 auto;
    }  
    .dish-block__headline {
        font-size: 20px;
    }
    .dish-block__price {
        font-size: 22px;
    }
    .dish-block__text {
        font-size: 14px;
    }
    .footer-block {
        padding-left: 38px;
    }
    .footer-logo-block {
        padding-left: 0;
    }
} 

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .nav-block__menu {
        display: none;
    }
    .main-header__wrap {
        height: 75px;
    }
    .main-header.stickytop .main-header__wrap {
        height: 65px;
    }
    .main-image {
        transform: scale(0.75);
        left: calc(50% + -387px);
    }
    .home-section__button-block .project-button {
        height: 55px;
        padding: 0 30px;
    }
    p {
        font-size: 14px;
        line-height: 1.6;
    }
    h1 {
        font-size: 46px;
    }
    .home-section__headline {
        margin-bottom: 40px;
    }
    .home-section__text {
        margin-bottom: 42px;
    }
    .burger-menu {
        display: flex;
    }
    .hidden-nav-block .menu-list__item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hidden-nav-block .menu-list__item:last-child{
        margin-bottom: 0;
    }
    .dish-block__headline {
        font-size: 22px;
    }
    .dish-block__price {
        font-size: 25px;
    }
    .app-section__button-block .project-button{
        padding: 0 20px;
    }
    .app-section__section-container {
        text-align: center;
        margin-bottom: 50px;
    }
    .app-section__button-block {
        justify-content: center;
    }
    .app-section__image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .testimonials-swiper {
        width: 85%;
    }
    .contacts-form {
        width: 90%;
    }
    .contacts-form__input {
        width: 100%;
    }
    .footer-logo-block {
        margin-bottom: 45px;
    }
    .footer-block {
        margin-bottom: 45px;
        padding-left: 0;
    }

}




/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .image-container{
        display: none;
    }
    .features-column{
        margin-bottom: 45px;
    }
    .features-column:last-child{
        margin-bottom: 0;
    }
    .features-block__image-wrap {
        margin-bottom: 20px;
    }
    .testimonials-swiper {
        width: 100%;
    }
    .testimonials-section__text {
        width: 85%;
    }
    .contacts-form {
        width: 100%;
    }
 
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {
        font-size: 38px;
    }
    .main-header__wrap {
        height: 65px;
    }
    .main-header.stickytop .main-header__wrap {
        height: 60px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    .about-section__image{
        width: 100%;
    }
    .app-section__button-block {
        justify-content: space-around;
    }
    .app-section__subheadline {
        margin-bottom: 20px;
    }
    .testimonials-section__text {
        width: 100%;
    }
    .contacts-form__input {
        height: 55px;
        padding: 0 120px 0 25px;
    }
    .contacts-form__project-button {
        height: 55px;
        padding: 0 30px;
    }
}