html {
    height: 100vh;
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #150C01;
}
section {
    position: relative;
    overflow: visible;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
    color: #150C01;
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
h1, h2, h3, h4, h5{
    font-family: "Philosopher";
    line-height: 1.1;
}
h1{
    font-weight: 700;
    font-size: 48px;
}
h2{
    font-weight: 700;
    font-size: 32px;
}
h3{
    font-weight: bold;
    font-size: 25px;
}
h4{
    font-weight: 500;
    font-size: 16px;
}
h5{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
.main-content {
    overflow: hidden;
}
.body-blocked{
    overflow: hidden;
}
/*******************************New page index.html start**************************/
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-header.stickytop{
    background-color: #d5d5ce;
}
.main-header__wrap{
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.main-header.stickytop .main-header__wrap{
    height: 80px;
}
.nav-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.nav-block__menu {
    margin-left: 35px;
}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-list__item{
    margin-right: 20px;
}
.menu-list__item:last-child{
    margin-right: 0;
}
.menu-list__link {
    opacity: 0.6;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-list__link:hover {
    opacity: 0.6;
    background-color: #150C01;
    color: #fff;
}
.button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-block-flex-end {
    justify-content: flex-end;
}
.home-section__button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.project-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    height: 60px;
    padding: 0 35px;
    color: #FFFFFF;
    font-weight: 500;
    background-color: #DC780B;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.button-block .project-button {
    position: relative;
    height: 45px;
    padding: 0 30px;
    font-weight: 400;
    z-index: 10;
}
.button-block .project-button::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button-block .project-button:hover::before {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
}
.burger-menu {
    display: none;
    flex-direction: column;
    width: 38px;
    height: 31px;
    margin-left: 20px;
    z-index: 10;
}
.burger-menu__line {
    height: 5px;
    width: 100%;
    border-radius: 4px;
    background: black;
    transition: 0.8s ease;
    margin-top: 7px;
}
.top-line{
    margin-top: 0;
}




.hidden-nav-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 9;
    padding: 188px 100px 60px;
    overflow: auto;
}
.hidden-nav-block__menu-list {
    flex-direction: column;
}
.home-section__section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.home-section__headline {
    margin-bottom: 45px;
}
.home-section__text {
    margin-bottom: 50px;
}
.home-section__button-block .project-button{
    border: 1.5px solid #DC780B;
}
.home-section__button-block .project-button:first-child{
    margin-right: 35px;
}
.home-section__button-block .project-button:hover{
    background-color: #FFFFFF;
    color: #DC780B;
    transform: scale(1.2);
}
.image-container {
    position: relative;
    height: 100vh;
    z-index: 1;
}
.main-image {
    position: relative;
    top: calc(50% - 355px);
    left: calc(50% + -336px);
}
.features-section {
    padding: 120px 0 60px;
}
.section-subheadline {
    font-family: "Roboto";
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
}
.features-section__section-subheadline{
    margin-bottom: 10px;
    text-align: center;
}
.features-section__section-headline{
    margin-bottom: 45px;
    text-align: center;
    text-transform: capitalize;
}
.features-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}
.features-block__image-wrap {
    margin-bottom: 35px;
}
.features-block__text-wrap {
    text-align: center;
}
.features-block__headline {
    line-height: 0.9;
    margin-bottom: 15px;
}
.about-section {
    padding: 135px 0 120px;
}
.background-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.background-image {
    position: absolute;
}
.about-ellipse {
    top: -145px;
    left: -35px;
}
.center-row{
    align-items: center;
}
.about-center-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-section__image {
    z-index: 5;
}
.about-section__subheadline {
    margin-bottom: 10px;
}
.about-section__headline {
    margin-bottom: 30px;
}
.about-section__text {
    margin-bottom: 30px;
}
.about-section__section-container .project-button{
    letter-spacing: normal;
}
.about-section__section-container .project-button:hover{
    letter-spacing: 2px;
}
.menu-section {
    padding: 135px 0 120px;
}
.headline-animate-wrap {
    text-align: center;
}
.menu-section__subheadline {
    margin-bottom: 10px;
}
.menu-section__headline {
    margin-bottom: 25px;
}
.menu-section__text {
    max-width: 748px;
    margin: 0 auto 60px;
}
.dish-block {
    margin-bottom: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
}
.dish-block__image-wrap {
    border-radius: 75px 10px 75px 0px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.dish-block__image-link{
    width: 100%;
}
.dish-block__image {
    width: 100%;
}
.dish-block__text-wrap {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-right: none;
    border-radius: 0 0 10px 10px;
    padding: 20px 25px 25px;
}
.dish-block__headline-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dish-block__headline {
}
.dish-block__price {
}
.dish-block__text {
    margin-bottom: 20px;
}
.dish-block__bottom-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dish-block__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34px;
    background-color: #DC780B;
    border-radius: 5px;
    position: relative;
}
.dish-block__button::before {
    content: url("../img/home-page/menu-section/plus.svg");
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dish-block__stars-wrap {
}
.dish-block__star {
}
.bottom-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.learn-more-link {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #DC780B;
}
.app-section {
    padding: 135px 0 120px;
}
.take-away-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app-section__subheadline {
    margin-bottom: 5px;
}
.app-section__headline {
    margin-bottom: 30px;
}
.app-section__text {
    margin-bottom: 40px;
    max-width: 565px;
}
.app-section__button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app-section__button-block .project-button{
    background-color: #150C01;
    border: 1.5px solid #150C01;
}
.appstore-button {
    margin-right: 30px;
    
}
.app-section__button-block .project-button:hover{
    color: #150C01;
    border: 1.5px solid rgba(21,12,1,0.35);
    background-color: #ffffff;
}
.app-section__link-image {
    margin-right: 8px;
}
.appstore-button p, .google-play-button p{
    line-height: 1.9;
}
.app-section__main-image {
}
.testimonials-section {
    padding: 135px 0 120px;
}
.headline-animate-wrap {
}
.testimonials-section__subheadline {
    margin-bottom: 15px;
}
.testimonials-section__headline {
    margin-bottom: 25px;
}
.testimonials-section__text {
    width: 75%;
    margin: 0 auto 20px;
}
.swiper-container {
}
.testimonials-swiper {
    width: 70%;
    height: auto;
}
.swiper-wrapper {
}
.testimonials-swiper-wrapper {
}
.swiper-slide {
}
.testimonials-swiper-slide {
    text-align: center;
    padding-top: 60px;
}
.slide-person-photo {
    margin-bottom: 40px;
}
.slide-text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.stars-block {
    margin-bottom: 35px;
}
.star {
}
.slide-person-name {
    margin-bottom: 5px;
}
.slide-person-position {
}
.swiper-pagination {
}
.testimonials-swiper-pagination {
}
.swiper-button-prev {
}
.testimonials-siper-button-prev {
}
.swiper-button-next {
}
.testimonials-siper-button-next {
}


.contacts-section {
    background: rgba(220,120,11,0.25);
    padding: 135px 0 120px;
}
.contacts-section__subheadline {
    margin-bottom: 15px;
}
.contacts-section__headline {
    width: 68%;
    text-align: center;
    display: inline-block;
    margin-bottom: 45px;
}
.form-animate-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacts-form {

}
.contacts-form__input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.contacts-form__input {
    background: #FFFFFF;
    border-radius: 10px;
    width: 750px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5;
    color: #000000;
    opacity: 0.5;
    padding: 0 160px 0 35px;
    font-family: "Roboto";
}
.project-button {
}
.contacts-form__project-button {
    position: absolute;
    height: 75px;
    top: 0;
    right: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 2.3;
    padding: 0 55px;
}


.main-footer {
}
.main-footer__wrap {
    padding-top: 140px;
    padding-bottom: 105px;
    background-color: #252525;
}

.footer-block {
}
.footer-logo-block {

}
.footer-logo {
    display: block;
    margin-bottom: 25px;
}
.footer-link {
    display: block;
    font-size: 14px;
    line-height: 1.1;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 15px;
}
.footer-link:last-child {
    margin-bottom: 0;
}
.foter-block__headline {
    font-weight: 700;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.footer-block__list {
}
.footer-block__list-item {
    margin-bottom: 20px;
}
.footer-block__list-item:last-child {
    margin-bottom: 0;
}
.company__list-item{
    margin-bottom: 25px;
}
.footer-block__link {
    font-size: 14px;
    line-height: 1.1;
    color: #FFFFFF;
    opacity: 0.7;
    display: block;
}
.footer-block__social-media {
}
.social-media__link {
    margin-right: 10px;
}
.social-media__image {
}
.instagram-logo {
}
.facebook-logo {
}
.twitter-logo {
}
.youtube-logo {
}
/*******************************New page index.html end****************************/